.sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 22px;
    z-index: 1000;
    transition: transform 0.3s ease;
    background-color: var(--white-gray);
}

.sidebarbutton {
    background-color: transparent;
    width: 40px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none !important;
    box-shadow: none !important;
    -webkit-tap-highlight-color: transparent;
}
