.sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #ffffff;
    border-top: 1px solid #e0e0e0;
    padding: 0 20px;
    z-index: 1000;
    transition: transform 0.3s ease;
}

/* Для iOS с учетом безопасной зоны */
@supports (padding-bottom: env(safe-area-inset-bottom)) {
    .sidebar {
        padding-bottom: env(safe-area-inset-bottom);
        height: calc(60px + env(safe-area-inset-bottom));
    }
}

/* Состояние при активной клавиатуре */
.sidebar.keyboard-active {
    transform: translateY(0);
    position: absolute;
    bottom: auto;
    top: 100vh;
}

.sidebarbutton {
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 8px;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none !important;
    box-shadow: none !important;
    -webkit-tap-highlight-color: transparent;
}

.sidebarbutton.active {
    color: green;
}